.intro {
  background: url("../img/bg-desktop@1x.jpg") no-repeat 50% 100%;
  background-size: cover;
  background-color: $black-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-desktop@2x.jpg") no-repeat 50% 100%;
    background-size: cover;
  }
}

.intro__about-company {
  @include wrap-desktop;
  padding-top: 150px;
}

.intro__description-mobile,
.intro__mobile-text {
  display: none;
}

.intro__title {
  font-family: $raleway;
  font-weight: 900;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: $white-color;
  text-transform: uppercase;
  margin: 0;
}

.intro__description {
  font-family: $roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: $white-color;
  margin: 25px 0 52px 0;
  display: block;
  max-width: 1025px;
  letter-spacing: 0.006em;
}

.intro__description span {
  color: $green-color;
}

.intro__link-container {
  display: flex;
  width: 53%;
  justify-content: space-between;
}

.intro__link-servcies {
  display: block;
  width: calc(50% - 10px);
  color: $black-color;
  font-family: $roboto;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  background-color: $green-color;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 2px 7px rgba(0, 255, 216, 0.65);
  }
}

.intro__link-сontact {
  display: block;
  width: calc(50% - 10px);
  color: $white-color;
  font-family: $roboto;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  background-color: transparent;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  border: 1px solid $green-color;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 7px rgba(0, 255, 216, 0.65), inset 2px 2px 7px rgba(0, 255, 216, 0.65);
  }
}

.intro__advantages {
  @include wrap-desktop;
  padding-bottom: 53px;
}

.intro__advantages-list {
  @include list-default;
  display: flex;
  justify-content: space-between;
  margin-top: 207px;
}

.intro__advantages-item {
  text-align: center;
  position: relative;
  letter-spacing: 0.015em;
}

.intro__advantages-guarantee {
  width: 195px;
  margin-left: -2px;
}

.intro__advantages-performance {
  width: 170px;
  margin-left: 16px;
}

.intro__advantages-base {
  width: 235px;
  margin-right: -12px;
}

.intro__advantages-img {
  fill: #b4b5b7;
  margin: 0 auto;
  position: absolute;
}

.intro__advantages-guarantee .intro__advantages-img {
  left: 67px;
  top: -89px;
}

.intro__advantages-performance .intro__advantages-img {
  left: 49px;
  top: -72px;
}

.intro__advantages-base .intro__advantages-img {
  left: 82px;
  top: -92px;
}

.intro__advantages-text {
  font-family: $roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #b4b5b7;
}

.br-tablet {
  display: none;
}

@media (max-width: $tablet-width) {
  .intro {
    background: #fefdff;
  }

  .intro__wrap {
    background: url("../img/bg-tablet@1x.jpg") no-repeat 50% 100%;
    background-size: cover;
    background-color: $black-color;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-tablet@2x.jpg") no-repeat 50% 100%;
      background-size: cover;
    }
  }

  .intro__about-company {
    @include wrap-tablet;
    padding: 125px 64px 130px 84px;
  }

  .intro__title {
    font-size: 38px;
    line-height: 45px;
  }

  .br-desktop {
    display: none;
  }

  .br-tablet {
    display: block;
  }

  .intro__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 17px 0 82px 0;
    max-width: 592px;
    letter-spacing: 0;
  }

  .intro__link-container {
    width: 97%;
  }

  .intro__link-servcies {
    font-size: 16px;
    padding: 15px 0 12px;
  }

  .intro__link-сontact {
    font-size: 16px;
    padding: 15px 0 12px;
  }

  .intro__advantages {
    @include wrap-tablet;
    padding-bottom: 30px;
  }

  .intro__advantages-list {
    width: 100%;
    margin: 71px auto 0;
    min-height: 210px;
  }

  .intro__advantages-item {
    width: 33.3%;
    background-color: $white-color;
    margin: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05), -5px 0 8px rgba(0, 0, 0, 0.05);
    min-height: 163px;
  }

  .intro__advantages-text {
    font-size: 12px;
    line-height: 16.26px;
    display: block;
    width: 65%;
    margin: 95px auto 0;
    letter-spacing: 0;
  }

  .intro__advantages-performance .intro__advantages-text {
    width: 56%;
    padding-left: 2px;
  }

  .intro__advantages-base .intro__advantages-text {
    width: 85%;
  }

  .intro__advantages-guarantee .intro__advantages-img {
    left: 37%;
    top: 22px;
  }

  .intro__advantages-performance .intro__advantages-img {
    left: 34%;
    top: 38px;
  }

  .intro__advantages-base .intro__advantages-img {
    left: 35%;
    top: 20px;
  }

  .intro__slider-dots {
    display: flex;
    justify-content: space-between;
    width: 34px;
    margin: -24px auto 0;
  }

  .intro__slider-dots .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #dddddd;
  }

  .intro__slider-dots .swiper-pagination-bullet-active {
    background-color: $green-color;
    outline: none;
  }

  .intro__advantages-container .swiper-slide-active {
    z-index: 20;
    transform: scale(1.2);

    .intro__advantages-text {
      color: $black-color;
    }

    .intro__advantages-img {
      fill: #4c4c4c;
    }
  }
}

@media (max-width: $mobile-width) {
  .intro {
    background: $white-color;
  }

  .intro__wrap {
    background: url("../img/bg-mobile@1x.jpg") no-repeat 50% 100%;
    background-size: cover;
    background-color: $black-color;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-mobile@2x.jpg") no-repeat 50% 100%;
      background-size: cover;
    }
  }

  .intro__about-company {
    @include wrap-mobile;
    padding: 127px 20px 51px;
    text-align: center;
  }

  .intro__title {
    font-size: 16px;
    line-height: 20px;
  }

  .intro__mobile-text {
    font-family: $roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $white-color;
    display: block;
    max-width: 245px;
    margin: 20px auto 55px;
  }

  .intro__mobile-text span {
    color: $green-color;
  }

  .intro__link-container {
    flex-direction: column;
    width: 100%;
  }

  .intro__link-servcies {
    width: 100%;
    margin-bottom: 10px;
    padding: 18px 0 16px;
  }

  .intro__link-сontact {
    width: 100%;
    padding: 17px 0;
  }

  .intro__description {
    display: none;
  }

  .intro__description-mobile,
  .intro__mobile-text {
    display: block;
  }

  .intro__description-mobile {
    font-family: $roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $black-color;
    margin: 0 0 38px 4px;
  }

  .intro__advantages-list {
    margin: 0 auto;
  }

  .intro__advantages {
    @include wrap-mobile;
    padding-top: 36px;
  }

  .intro__advantages-item {
    width: 100%;
    box-shadow: none;
    min-height: 200px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
  }

  .intro__advantages-container .swiper-slide-active {
    transform: scale(1);
  }

  .intro__advantages-guarantee .intro__advantages-img {
    left: calc(50% - 32px);
    top: 30px;
    transform: scale(1.2);
  }

  .intro__advantages-performance .intro__advantages-img {
    left: calc(50% - 37px);
    top: 48px;
    transform: scale(1.2);
  }

  .intro__advantages-base .intro__advantages-img {
    left: calc(50% - 37px);
    top: 30px;
    transform: scale(1.2);
  }

  .intro__advantages-text {
    font-size: 14px;
    line-height: 20px;
    margin: 118px auto 0;
  }

  .intro__slider-dots {
    width: 30px;
    margin: -2px auto;
    align-items: center;
  }

  .intro__slider-dots .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .intro__advantages-container .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }
}
