.page-header {
  background-color: #fbfbfb;
}

.page-header__nav-button {
  display: none;
}

.page-header__wrap {
  @include wrap-desktop;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 15px 13px;
}

.page-header__nav-wrap {
  display: flex;
  align-items: center;
}

.logo-tablet {
  display: none;
}

.page-header__logo-link {
  display: block;
  margin-right: 60px;
}

.page-header__nav-list {
  @include list-default;
  display: flex;
  width: 342px;
  justify-content: space-between;
  margin-top: -13px;
}

.page-header__item a {
  font-family: $roboto;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  color: #707070;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  &:hover,
  &:focus {
    color: #000000;
  }
}

.page-header__feedback-wrap {
  display: flex;
  align-items: center;
}

.page-header__phone-link {
  color: #1c1c1c;
  font-family: $roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-right: 25px;
  margin-bottom: 8px;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.page-header__feedback {
  display: block;
  width: 190px;
  color: $black-color;
  background-color: $green-color;
  text-align: center;
  font-family: $roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  padding: 2px 0 4px;
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    box-shadow: 0px 2px 5px rgba(0, 255, 216, 0.6);
  }
}


@media (max-width: $tablet-width) {
  .page-header {
    position: relative;
  }

  .page-header__wrap {
    @include wrap-tablet;
    padding: 7px 64px 8px;
  }

  .page-header__nav-button {
    display: block;
    border: none;
    width: 26px;
    height: 21px;
    background: transparent;
    cursor: pointer;
    position: relative;
    outline: none;
    margin-top: 2px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 26px;
      height: 2px;
      top: 0;
      left: 0;
      background-color: #afafaf;
      box-shadow: 0 10px 0 0 #afafaf, 0 20px 0 0 #afafaf;
    }
  }

  // .page-header__nav--close {
  //   display: none;
  // }

  //   .page-header__nav--close {
  //   display: none;
  // }

  .logo-desktop {
    display: none;
  }

  .logo-tablet {
    display: block;
  }

  .page-header__logo-link {
    margin-right: 38px;
  }

  .page-header__feedback {
    display: none;
  }

  .page-header__phone-link {
    font-size: 14px;
    margin: 7px 0 0 0;
  }

  .page-header__nav-list {
    width: 27%;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 52px;
    margin: 0;
    z-index: 10;
  }

  .page-header__item a {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #383838;
    text-transform: uppercase;
    background-color: #e7e7e7;
    text-align: center;
    padding: 13px 0 9px;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #e4e4e4;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  .page-header__nav-list .page-header__item:first-child {
    display: none;
  }

  .page-header__nav-list .page-header__item:last-child {
     border-bottom: none;
  }
}

@media (max-width: $mobile-width) {

  .page-header__wrap {
    @include wrap-mobile;
    padding: 7px 20px 6px;
  }

  .page-header__feedback-wrap {
    display: none;
  }

  .page-header__nav-wrap {
    width: 100%;
    justify-content: space-between;
  }

  .page-header__logo-link {
    margin-right: 0;
  }

  .page-header__nav-list {
    width: 100%;
    top: 50px;
  }

  .page-header__nav-button {
    width: 18px;
    height: 14px;
    cursor: pointer;
    margin-top: -4px;

    &:after {
      width: 18px;
      box-shadow: 0 6px 0 0 #afafaf, 0 14px 0 0 #afafaf;
    }
  }
}
