.projects__wrap {
  @include wrap-desktop;
  padding-top: 61px;
  position: relative;
}

.projects__title {
  font-family: $raleway;
  font-weight: 900;
  font-size: 30px;
  line-height: 50px;
  color: $black-color;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin: 0 0 35px 0;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 72.5%;
    height: 2px;
    background-color: $black-color;
    right: 15px;
    top: 86px;
  }
}

.projects__item-title {
  font-family: $roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: $white-color;
  margin: 0 0 47px 0;
}

.projects__description {
  font-family: $roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #b6b6b7;
  margin: 0;
}

.projects__list {
  @include list-default;
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  width: calc(25% - 2.5px);
  min-height: 290px;
  margin-bottom: 4px;

  position: relative;
  padding: 53px 12px 25px 30px;
}

.projects__item--big {
  width: calc(50% - 2px);
  padding: 40px 75px 25px 30px;

  .projects__item-title {
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 30px 0;
  }
}

.projects__item-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.projects__stadium,
.projects__kino {
  margin-right: 3px;
}

.projects__business-centr,
.projects__company {
  margin-right: 4px;
}

.projects__item:last-child {
  margin-right: 0;
}

.projects__item-link {
  display: block;
  width: 46px;
  height: 34px;
  background: url("../img/arrow.svg") no-repeat center;
  background-color: transparent;
  border: 2px solid #76726f;
  position: absolute;
  bottom: 11px;
  right: 10px;

  &:hover,
  &:focus {
    background: url("../img/arrow-black.svg") no-repeat center;
    background-color: $green-color;
    border: none;
  }
}

.projects__tablet {
  display: none;
}


@media (max-width: $tablet-width) {
  .projects__wrap {
    @include wrap-tablet;
    padding-top: 112px;
  }

  .projects__title {
    font-size: 26px;
    line-height: 26px;
    margin: 0 0 43px 0;

    &::after {
      display: none;
    }
  }

  .projects__item-title {
    margin: 0 0 14px 0;
  }

  .projects__description {
    font-size: 18px;
  }

  .projects__item {
    width: 100%;
    min-height: 180px;
    margin-bottom: 10px;
    padding: 45px 90px 25px 44px;
  }

  .projects__item--big {
    width: 100%;
    padding: 40px 75px 25px 30px;

    .projects__item-title {
      font-size: 24px;
      line-height: 24px;
      margin: 0 0 12px 0;
    }
  }

  .projects__stadium {
    margin-right: 0;
  }

  .projects__business-centr {
    padding: 43px 100px 25px 42px;
    margin-bottom: 8px;
    margin-right: 0;

    .projects__item-title {
      margin: 0 0 16px 0;
    }
  }

  .projects__kino {
    margin-right: 0;
    padding-top: 39px;
    padding-right: 170px;

    .projects__item-title {
      margin: 0 0 16px 0;
    }
  }

  .projects__medial {
    padding-top: 34px;
    padding-left: 42px;
    padding-right: 120px;

    .projects__item-title {
      margin: 0 0 17px 0;
    }
  }

  .projects__company {
    padding-top: 45px;
    padding-left: 42px;
    margin-right: 0;

    .projects__item-title {
      margin: 0 0 12px 0;
    }
  }

  .projects__buratino {
    padding-top: 45px;
    padding-left: 43px;
    padding-right: 55px;

    .projects__item-title {
      margin: 0 0 11px 0;
    }
  }

  .projects__item-link {
    display: none;
  }

  .projects__desktop {
    display: none;
  }

  .projects__tablet {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .projects__wrap {
    @include wrap-mobile;
    padding-top: 48px;
  }

  .projects__title {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 17px 0;
  }

  .projects__item-title {
    font-family: $raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    padding-left: 8px;
  }

  .projects__description {
    display: none;
  }

  .projects__item {
    min-height: 100px;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .projects__item--big {
    padding: 0;

    .projects__item-title {
      font-size: 16px;
      margin: 0 auto;
    }
  }

  .projects__stadium {
    padding-right: 0;
  }

  .projects__business-centr {
    padding: 0;
    margin-bottom: 10px;

    .projects__item-title {
      margin: 0 auto;
    }
  }

  .projects__kino {
    padding: 0;

    .projects__item-title {
      margin: 0 auto;
    }
  }

  .projects__medial {
    padding: 0;

    .projects__item-title {
      margin: 0 auto;
    }
  }
}
